@page
@model itmanager.Pages.Roles.IndexModel

@{
    ViewData["Module"] = "Roles";
    ViewData["Title"] = "Listado de Roles";
}

<partial name="_Breadcrumb"/>

<h3 style="margin-left:10px">Listado de Roles</h3>
<p style="margin-left:10px"><a asp-page="Create" class="btn btn-warning">Crear nuevo</a></p>

<div class="ibox-content">
	<div class="col-lg-12">
        <div class="">
            <table id="datagrid" class="display">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th style="width:100%">
                            Descripción
                        </th>
                        <th>
                           Bloqueado
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.RolRole) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RolNombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RolDescripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RolBloqueado)
                        </td>
                        <td nowrap>
                            @if (item.RolBloqueado.Equals(1))
                                {
                                     <a class="btn btn-secondary disabled" asp-page="./Edit" asp-route-id="@item.RolId">Editar</a>
                                     <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.RolId">Detalle</a>
                                     <a class="btn btn-secondary disabled" asp-page="./RoleOptions" asp-route-id="@item.RolId">Asignar Opciones</a>
                                     <a class="btn btn-secondary disabled" asp-page="./Delete" asp-route-id="@item.RolId">Borrar</a>
                                } else
                                {
                                     <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.RolId">Editar</a>
                                     <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.RolId">Detalle</a>
                                     <a class="btn btn-primary" asp-page="./RoleOptions" asp-route-id="@item.RolId">Asignar Opciones</a>
                                     <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.RolId">Borrar</a>
                                } 
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>