@page "{id:int}"
@model itmanager.Pages.SystemConfig.DeleteModel

@{
    ViewData["Module"] = "Sistema";
    ViewData["Title"] = "Borrado de Configuraciones de Sistema";
}

<partial name="_Breadcrumb"/>

<h3>Quieres eliminar este registro?</h3>
<div>
    <h4><strong>Configuración ID: @Html.DisplayFor(model => model.SisSistema.SisId)</strong></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SisSistema.SisNombre)
        </dd>
        <dt class="col-sm-2">
            Descripción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SisSistema.SisDescripcion)
        </dd>
        <dt class="col-sm-2">
            Proceso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SisSistema.SisProceso)
        </dd>
        <dt class="col-sm-2">
            Tipo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SisSistema.SisTipo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SisSistema.SisId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-warning">Volver a la lista</a>
    </form>
</div>
<br />
