@page "{id:int}"
@model itmanager.Pages.SystemConfig.DetailsModel

@{
    ViewData["Module"] = "Sistema";
    ViewData["Title"] = "Detalle de Configuración de Sistema";
}

<partial name="_Breadcrumb"/>

<div>
    <h4>Configuración ID: @Html.DisplayFor(model => model.SisSistema.SisId)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SisSistema.SisNombre)
        </dd>
        <dt class="col-sm-2">
            Descripción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SisSistema.SisDescripcion)
        </dd>
        <dt class="col-sm-2">
            Proceso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SisSistema.SisProceso)
        </dd>
        <dt class="col-sm-2">
            Tipo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SisSistema.SisTipo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.SisSistema.SisId">Editar</a> |
    <a class="btn btn-warning" asp-page="./Index">Volver a la lista</a>
</div>
<br />
