@page
@model itmanager.Pages.Reports.AuditModel

@{
    ViewData["Module"] = "Auditoria";
    ViewData["Title"] = "Reporte de Auditoria";
}

<partial name="_Breadcrumb"/>

<div class="ibox-content">
	<div class="col-lg-12">

        <div>
            <form method="post" id="form1" asp-page-handler="confirm">
            <p>Seleccione el periodo</p>
            <p><select asp-for="idPeriodo" class ="form-control" asp-items="ViewBag.Period" required onChange="document.getElementById('form1').submit();"></select></p>
              </form>
        </div>

        <div class="">
             <table id="datagrid" class="display">
                <thead>
                    <tr>
                        <th>
                            Fecha
                        </th>
                        <th>
                            UID
                        </th>
                        <th>
                           Estado Anterior
                        </th>
                        <th>
                            Estado Nuevo
                        </th>
                        <th>
                           Modelo
                        </th>
                        <th>
                            Serie
                        </th>
                        <th>
                            Empleado
                        </th>
                        <th>
                            Modificado
                        </th>
                        <th>
                            FechaConfirmación
                        </th>
                        <th>
                            IdConfirmacion
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.VAuditorium) {
                    <tr>
                        <td nowrap>
                            @Html.DisplayFor(modelItem => item.AudFecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AudUid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AudEstadoAnterior)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AudEstadoNuevo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AudModelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AudSerie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpNombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsuModificadoPor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConFecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConId)
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>
