@page "{id:int}"
@model itmanager.Pages.Options.DeleteModel

@{
    ViewData["Module"] = "Opciones";
    ViewData["Title"] = "Borrado de Opciones";
}

<partial name="_Breadcrumb"/>

<h3>Quieres eliminar este registro?</h3>
<div>
    <h4><strong>Opción ID: @Html.DisplayFor(model => model.OpcOpcion.OpcId)</strong></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpcOpcion.OpcNombre)
        </dd>
        <dt class="col-sm-2">
            Modulo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpcOpcion.OpcNombreModulo)
        </dd>
        <dt class="col-sm-2">
           Descripcion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpcOpcion.OpcDescripcion)
        </dd>
        <dt class="col-sm-2">
            Objeto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpcOpcion.OpcNombreObject)
        </dd>
        <dt class="col-sm-2">
            Logo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpcOpcion.OpcLogo)
        </dd>
        <dt class="col-sm-2">
            Orden
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpcOpcion.OpcOrden)
        </dd>
        <dt class="col-sm-2">
           Padre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpcOpcion.OpcPadre)
        </dd>
        <dt class="col-sm-2">
            Deshabilitado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpcOpcion.OpcDeshabilitadoSistema)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OpcOpcion.OpcId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-warning">Volver a la lista</a>
    </form>
</div>
